In [1]:
import pandas as pd
import numpy as np

In [2]:
dados = pd.read_csv('dados_sem_null_sql.csv')
dados

,id_cliente,idade,salario,tipo_imovel,tempo_trabalhando,id_emprestimo,motivo_emprestimo,grupo,valor_emprestimo,juros,RISCO_INADIMPLENCIA,emp_sal,id_historico,INADIMPLENCIA,tempo_cliente
0,AspC7qDK-5Esh,21,60000,Rent,2,kZHfWgGv-0dWJ,Education,B,8000,11.26,0,0.13,UwfbzeaW-9tQt,N,3
1,2NjYU2iT-fGSm,40,70000,Mortgage,6,j7elJxsY-eTEQ,Education,A,18000,7.90,0,0.26,viRQ2WYn-yJ2G,N,14
2,nTOKgZCT-YPUD,29,115000,Mortgage,3,t9dKvc6a-4eAL,Medical,C,22000,15.23,0,0.19,IEHObaim-KPC9,Y,7
3,J3jGNZeh-OzZE,26,84996,Rent,0,NaelpPC5-t2kz,Medical,B,9000,11.26,0,0.11,GvqL52S8-S8OH,N,2
4,OQXEoNPl-hL0f,23,24000,Own,7,QxdBboWP-KKFh,Education,A,5000,7.49,0,0.21,Ue0IMCKa-d0AQ,N,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28879,rLWRUuiC-gZah,60,37200,Mortgage,2,teotm42r-7RmP,Personal,A,10000,6.54,1,0.27,suYzmZPZ-LZ7p,N,27
28880,5PYYQrGb-kL7i,22,28800,Rent,6,eKFBKFUg-EPMg,Education,B,8000,11.49,0,0.28,Y5h04JQz-UlnH,N,2
28881,ezodwdzy-IgP3,27,39600,Mortgage,11,Z0OQkNXo-noen,Debtconsolidation,A,4800,6.76,0,0.12,W6NpiRzO-8o5z,N,9
28882,zcvLEBEd-JHhI,30,39996,Mortgage,8,EtCzqy1B-QYEL,Medical,C,10000,12.73,0,0.25,3fcjJLaj-Bkio,N,6
28883,zHG1040U-BAsd,26,54996,Rent,8,Jb3kZcsS-4i5B,Education,B,20000,12.18,1,0.36,zoPPIv63-aGvX,N,4

## Ordenando os dados por colunas

In [3]:
dados.columns

Index(['id_cliente', 'idade', 'salario', 'tipo_imovel', 'tempo_trabalhando',
       'id_emprestimo', 'motivo_emprestimo', 'grupo', 'valor_emprestimo',
       'juros', 'RISCO_INADIMPLENCIA', 'emp_sal', 'id_historico',
       'INADIMPLENCIA', 'tempo_cliente'],
      dtype='object')

In [4]:
dados = dados[['id_cliente', 'id_emprestimo', 'id_historico', 'tipo_imovel', 
               'motivo_emprestimo', 'grupo', 'INADIMPLENCIA', 'idade', 'salario', 
               'tempo_trabalhando', 'valor_emprestimo', 'juros', 'emp_sal', 'tempo_cliente', 'RISCO_INADIMPLENCIA']]
dados

,id_cliente,id_emprestimo,id_historico,tipo_imovel,motivo_emprestimo,grupo,INADIMPLENCIA,idade,salario,tempo_trabalhando,valor_emprestimo,juros,emp_sal,tempo_cliente,RISCO_INADIMPLENCIA
0,AspC7qDK-5Esh,kZHfWgGv-0dWJ,UwfbzeaW-9tQt,Rent,Education,B,N,21,60000,2,8000,11.26,0.13,3,0
1,2NjYU2iT-fGSm,j7elJxsY-eTEQ,viRQ2WYn-yJ2G,Mortgage,Education,A,N,40,70000,6,18000,7.90,0.26,14,0
2,nTOKgZCT-YPUD,t9dKvc6a-4eAL,IEHObaim-KPC9,Mortgage,Medical,C,Y,29,115000,3,22000,15.23,0.19,7,0
3,J3jGNZeh-OzZE,NaelpPC5-t2kz,GvqL52S8-S8OH,Rent,Medical,B,N,26,84996,0,9000,11.26,0.11,2,0
4,OQXEoNPl-hL0f,QxdBboWP-KKFh,Ue0IMCKa-d0AQ,Own,Education,A,N,23,24000,7,5000,7.49,0.21,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28879,rLWRUuiC-gZah,teotm42r-7RmP,suYzmZPZ-LZ7p,Mortgage,Personal,A,N,60,37200,2,10000,6.54,0.27,27,1
28880,5PYYQrGb-kL7i,eKFBKFUg-EPMg,Y5h04JQz-UlnH,Rent,Education,B,N,22,28800,6,8000,11.49,0.28,2,0
28881,ezodwdzy-IgP3,Z0OQkNXo-noen,W6NpiRzO-8o5z,Mortgage,Debtconsolidation,A,N,27,39600,11,4800,6.76,0.12,9,0
28882,zcvLEBEd-JHhI,EtCzqy1B-QYEL,3fcjJLaj-Bkio,Mortgage,Medical,C,N,30,39996,8,10000,12.73,0.25,6,0
28883,zHG1040U-BAsd,Jb3kZcsS-4i5B,zoPPIv63-aGvX,Rent,Education,B,N,26,54996,8,20000,12.18,0.36,4,1

## TraduÃ§Ã£o dos dados que estÃ£o em inglÃªs

In [5]:
tipo_prop= {'Rent': 'alugado', 
              'Own': 'proprio', 
              'Mortgage': 'financiado', 
              'Other': 'outro'}
motivo_emprestimo = {'Homeimprovement': 'reforma', 
              'Venture': 'risco', 
              'Personal': 'pessoal', 
              'Medical': 'saude', 
              'Debtconsolidation': 'quitar', 
              'Education': 'ensino'}
inadimplencia = {'N': 0, 'Y': 1}

In [6]:
dados['tipo_imovel'] = dados.tipo_imovel.map(tipo_prop)
dados['motivo_emprestimo'] = dados.motivo_emprestimo.map(motivo_emprestimo)
dados['INADIMPLENCIA'] = dados.INADIMPLENCIA.map(inadimplencia)
dados.head()

,id_cliente,id_emprestimo,id_historico,tipo_imovel,motivo_emprestimo,grupo,INADIMPLENCIA,idade,salario,tempo_trabalhando,valor_emprestimo,juros,emp_sal,tempo_cliente,RISCO_INADIMPLENCIA
0,AspC7qDK-5Esh,kZHfWgGv-0dWJ,UwfbzeaW-9tQt,alugado,ensino,B,0.0,21,60000,2,8000,11.26,0.13,3,0
1,2NjYU2iT-fGSm,j7elJxsY-eTEQ,viRQ2WYn-yJ2G,financiado,ensino,A,0.0,40,70000,6,18000,7.90,0.26,14,0
2,nTOKgZCT-YPUD,t9dKvc6a-4eAL,IEHObaim-KPC9,financiado,saude,C,1.0,29,115000,3,22000,15.23,0.19,7,0
3,J3jGNZeh-OzZE,NaelpPC5-t2kz,GvqL52S8-S8OH,alugado,saude,B,0.0,26,84996,0,9000,11.26,0.11,2,0
4,OQXEoNPl-hL0f,QxdBboWP-KKFh,Ue0IMCKa-d0AQ,proprio,ensino,A,0.0,23,24000,7,5000,7.49,0.21,2,0

## Apesar de remover os dados nulos no SQL, vamos verificar a existÃªncia de dados faltantes nos dados

In [7]:
dados.isnull().sum()

id_cliente               2
id_emprestimo            0
id_historico             0
tipo_imovel            103
motivo_emprestimo      102
grupo                  102
INADIMPLENCIA          115
idade                    0
salario                  0
tempo_trabalhando        0
valor_emprestimo         0
juros                    0
emp_sal                  0
tempo_cliente            0
RISCO_INADIMPLENCIA      0
dtype: int64

## Como sÃ£o poucos dados em branco, podemos elimina-los.

In [8]:
dados.dropna(inplace = True)

In [9]:
dados.isnull().sum()

id_cliente             0
id_emprestimo          0
id_historico           0
tipo_imovel            0
motivo_emprestimo      0
grupo                  0
INADIMPLENCIA          0
idade                  0
salario                0
tempo_trabalhando      0
valor_emprestimo       0
juros                  0
emp_sal                0
tempo_cliente          0
RISCO_INADIMPLENCIA    0
dtype: int64

## Com os dados nulos removidos vamos para os 'outliers'. Vamos separar os dados numÃ©ricos e trata-los usando 'zscore'

In [10]:
dados.columns

Index(['id_cliente', 'id_emprestimo', 'id_historico', 'tipo_imovel',
       'motivo_emprestimo', 'grupo', 'INADIMPLENCIA', 'idade', 'salario',
       'tempo_trabalhando', 'valor_emprestimo', 'juros', 'emp_sal',
       'tempo_cliente', 'RISCO_INADIMPLENCIA'],
      dtype='object')

In [11]:
dados_numericos = dados[['idade', 'salario', 'tempo_trabalhando', 
                    'valor_emprestimo', 'juros', 'emp_sal', 
                    'tempo_cliente', 'INADIMPLENCIA','RISCO_INADIMPLENCIA']]
dados_numericos.head()

,idade,salario,tempo_trabalhando,valor_emprestimo,juros,emp_sal,tempo_cliente,INADIMPLENCIA,RISCO_INADIMPLENCIA
0,21,60000,2,8000,11.26,0.13,3,0.0,0
1,40,70000,6,18000,7.90,0.26,14,0.0,0
2,29,115000,3,22000,15.23,0.19,7,1.0,0
3,26,84996,0,9000,11.26,0.11,2,0.0,0
4,23,24000,7,5000,7.49,0.21,2,0.0,0

In [12]:
from scipy import stats
from scipy.stats import zscore
z_scores = stats.zscore(dados_numericos)
abs_z_scores = np.abs(z_scores)
filtered_entries = (abs_z_scores < 3).all(axis=1)
dados_sem_outliers = dados_numericos[filtered_entries]

dados_sem_outliers

,idade,salario,tempo_trabalhando,valor_emprestimo,juros,emp_sal,tempo_cliente,INADIMPLENCIA,RISCO_INADIMPLENCIA
0,21,60000,2,8000,11.26,0.13,3,0.0,0
1,40,70000,6,18000,7.90,0.26,14,0.0,0
2,29,115000,3,22000,15.23,0.19,7,1.0,0
3,26,84996,0,9000,11.26,0.11,2,0.0,0
4,23,24000,7,5000,7.49,0.21,2,0.0,0
...,...,...,...,...,...,...,...,...,...
28878,24,69000,7,5200,17.19,0.08,2,0.0,0
28880,22,28800,6,8000,11.49,0.28,2,0.0,0
28881,27,39600,11,4800,6.76,0.12,9,0.0,0
28882,30,39996,8,10000,12.73,0.25,6,0.0,0
28883,26,54996,8,20000,12.18,0.36,4,0.0,1

## Agora vamos juntar os dados para manter as informaÃ§Ãµes dos nossos dados

In [13]:
dados_categoricos = dados[['id_cliente', 'id_emprestimo', 
                           'id_historico', 'tipo_imovel',
                           'motivo_emprestimo', 'grupo']]
dados_categoricos.head()

,id_cliente,id_emprestimo,id_historico,tipo_imovel,motivo_emprestimo,grupo
0,AspC7qDK-5Esh,kZHfWgGv-0dWJ,UwfbzeaW-9tQt,alugado,ensino,B
1,2NjYU2iT-fGSm,j7elJxsY-eTEQ,viRQ2WYn-yJ2G,financiado,ensino,A
2,nTOKgZCT-YPUD,t9dKvc6a-4eAL,IEHObaim-KPC9,financiado,saude,C
3,J3jGNZeh-OzZE,NaelpPC5-t2kz,GvqL52S8-S8OH,alugado,saude,B
4,OQXEoNPl-hL0f,QxdBboWP-KKFh,Ue0IMCKa-d0AQ,proprio,ensino,A

In [14]:
dados = dados_categoricos.merge(dados_sem_outliers, right_index = True, left_index=True)
dados

,id_cliente,id_emprestimo,id_historico,tipo_imovel,motivo_emprestimo,grupo,idade,salario,tempo_trabalhando,valor_emprestimo,juros,emp_sal,tempo_cliente,INADIMPLENCIA,RISCO_INADIMPLENCIA
0,AspC7qDK-5Esh,kZHfWgGv-0dWJ,UwfbzeaW-9tQt,alugado,ensino,B,21,60000,2,8000,11.26,0.13,3,0.0,0
1,2NjYU2iT-fGSm,j7elJxsY-eTEQ,viRQ2WYn-yJ2G,financiado,ensino,A,40,70000,6,18000,7.90,0.26,14,0.0,0
2,nTOKgZCT-YPUD,t9dKvc6a-4eAL,IEHObaim-KPC9,financiado,saude,C,29,115000,3,22000,15.23,0.19,7,1.0,0
3,J3jGNZeh-OzZE,NaelpPC5-t2kz,GvqL52S8-S8OH,alugado,saude,B,26,84996,0,9000,11.26,0.11,2,0.0,0
4,OQXEoNPl-hL0f,QxdBboWP-KKFh,Ue0IMCKa-d0AQ,proprio,ensino,A,23,24000,7,5000,7.49,0.21,2,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28878,5RR3r0UI-zEcL,0sz5yOJO-BqcR,HeNCM6HW-srAM,financiado,reforma,E,24,69000,7,5200,17.19,0.08,2,0.0,0
28880,5PYYQrGb-kL7i,eKFBKFUg-EPMg,Y5h04JQz-UlnH,alugado,ensino,B,22,28800,6,8000,11.49,0.28,2,0.0,0
28881,ezodwdzy-IgP3,Z0OQkNXo-noen,W6NpiRzO-8o5z,financiado,quitar,A,27,39600,11,4800,6.76,0.12,9,0.0,0
28882,zcvLEBEd-JHhI,EtCzqy1B-QYEL,3fcjJLaj-Bkio,financiado,saude,C,30,39996,8,10000,12.73,0.25,6,0.0,0
28883,zHG1040U-BAsd,Jb3kZcsS-4i5B,zoPPIv63-aGvX,alugado,ensino,B,26,54996,8,20000,12.18,0.36,4,0.0,1

## Vamos iniciar com um classificador menos exigente para avaliar o comportamento dos dados em um modelo. Antes disso, vamos estabelecer nosso 'baseline' de classificaÃ§Ã£o com um Dummy Classifier.

In [54]:
dados_numericos = dados[['idade', 'salario', 'tempo_trabalhando', 
                    'valor_emprestimo', 'juros', 'emp_sal', 
                    'tempo_cliente', 'INADIMPLENCIA','RISCO_INADIMPLENCIA']]
dados_numericos

,idade,salario,tempo_trabalhando,valor_emprestimo,juros,emp_sal,tempo_cliente,INADIMPLENCIA,RISCO_INADIMPLENCIA
0,21,60000,2,8000,11.26,0.13,3,0.0,0
1,40,70000,6,18000,7.90,0.26,14,0.0,0
2,29,115000,3,22000,15.23,0.19,7,1.0,0
3,26,84996,0,9000,11.26,0.11,2,0.0,0
4,23,24000,7,5000,7.49,0.21,2,0.0,0
...,...,...,...,...,...,...,...,...,...
28878,24,69000,7,5200,17.19,0.08,2,0.0,0
28880,22,28800,6,8000,11.49,0.28,2,0.0,0
28881,27,39600,11,4800,6.76,0.12,9,0.0,0
28882,30,39996,8,10000,12.73,0.25,6,0.0,0
28883,26,54996,8,20000,12.18,0.36,4,0.0,1

In [16]:
x = dados_numericos.drop(['RISCO_INADIMPLENCIA'], axis = 1)
y = dados_numericos['RISCO_INADIMPLENCIA']

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.dummy import DummyClassifier
SEED = 301
np.random.seed(SEED)

modelo = DummyClassifier()
results = cross_validate(modelo, x, y, cv = 10, return_train_score=False)
media = results['test_score'].mean()
desvio_padrao = results['test_score'].std()
print("Accuracy com cross validation, 10 = [%.2f, %.2f]" % ((media - 2 * desvio_padrao)*100, (media + 2 * desvio_padrao) * 100))

Accuracy com cross validation, 10 = [79.09, 79.11]

In [28]:
from sklearn.tree import DecisionTreeClassifier

modelo = DecisionTreeClassifier(max_depth=2)
results = cross_validate(modelo, x, y, cv = 3, return_train_score=False)
media = results['test_score'].mean()
desvio_padrao = results['test_score'].std()
print("Accuracy com cross validation, 10 = [%.2f, %.2f]" % ((media - 2 * desvio_padrao)*100, (media + 2 * desvio_padrao) * 100))

Accuracy com cross validation, 10 = [82.62, 83.78]

In [29]:
from sklearn.model_selection import KFold

cv = KFold(n_splits = 10)
modelo = DecisionTreeClassifier(max_depth=2)
results = cross_validate(modelo, x, y, cv = cv, return_train_score=False)
media = results['test_score'].mean()
desvio_padrao = results['test_score'].std()
print("Accuracy com cross validation, 10 = [%.2f, %.2f]" % ((media - 2 * desvio_padrao)*100, (media + 2 * desvio_padrao) * 100))

Accuracy com cross validation, 10 = [81.63, 84.72]

In [30]:
from sklearn.model_selection import KFold

cv = KFold(n_splits = 10, shuffle = True)
modelo = DecisionTreeClassifier(max_depth=2)
results = cross_validate(modelo, x, y, cv = cv, return_train_score=False)
media = results['test_score'].mean()
desvio_padrao = results['test_score'].std()
print("Accuracy com cross validation, 10 = [%.2f, %.2f]" % ((media - 2 * desvio_padrao)*100, (media + 2 * desvio_padrao) * 100))

Accuracy com cross validation, 10 = [81.81, 84.87]

In [33]:
from sklearn.model_selection import GroupKFold
cv = GroupKFold(n_splits = 7)# o nÃºmero de splits deve corresponder ao nÃºmero de grupos, aqui vamos usar o grupo de emprestimos
modelo = DecisionTreeClassifier(max_depth=2)
modelo.fit(x, y)
results = cross_validate(modelo, x, y, cv = cv, groups = dados.grupo, return_train_score=False)
resultados = pd.DataFrame(data=results)
resultados

   fit_time  score_time  test_score
0  0.014960    0.001995    0.924758
1  0.014733    0.002957    0.887802
2  0.017955    0.002020    0.643632
3  0.018987    0.002000    0.540344
4  0.019946    0.001229    0.482368
5  0.019952    0.000996    0.395210
6  0.019988    0.000996    0.974359

## Agora vamos usar o Grid Search para encontrar uma combinaÃ§Ã£o de hiperparÃ¢metros que melhores o nosso modelo.

In [34]:
from sklearn.model_selection import GridSearchCV
lista_parametros = {
    "splitter" : ['best', 'random'],
    "max_depth" : [2, 3, 5],
    "min_samples_split" : [32, 64, 128],
    "min_samples_leaf" : [32, 64, 128],
    "criterion" : ['gini', 'entropy', 'log_loss']
}
busca = GridSearchCV(DecisionTreeClassifier(),
                    lista_parametros,
                    cv = GroupKFold(n_splits = 7))
busca.fit(x, y, groups = dados.grupo)
resultados = pd.DataFrame(busca.cv_results_)
resultados.head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_depth,param_min_samples_leaf,param_min_samples_split,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,split6_test_score,mean_test_score,std_test_score,rank_test_score
0,0.020253,0.001885,0.001990,0.001062,gini,2,32,32,best,"{'criterion': 'gini', 'max_depth': 2, 'min_sam...",0.924758,0.887802,0.643632,0.540344,0.482368,0.395210,0.974359,0.692639,0.216995,64
1,0.008990,0.001056,0.001726,0.000439,gini,2,32,32,random,"{'criterion': 'gini', 'max_depth': 2, 'min_sam...",0.913722,0.846720,0.487043,0.408399,0.409320,0.694611,0.256410,0.573747,0.229067,146
2,0.018375,0.002050,0.001784,0.000656,gini,2,32,64,best,"{'criterion': 'gini', 'max_depth': 2, 'min_sam...",0.924758,0.887802,0.643632,0.540344,0.482368,0.395210,0.974359,0.692639,0.216995,64
3,0.007840,0.000830,0.001281,0.000452,gini,2,32,64,random,"{'criterion': 'gini', 'max_depth': 2, 'min_sam...",0.919073,0.854200,0.462415,0.408399,0.481108,0.359281,0.307692,0.541738,0.225461,155
4,0.017958,0.001848,0.001850,0.000351,gini,2,32,128,best,"{'criterion': 'gini', 'max_depth': 2, 'min_sam...",0.924758,0.887802,0.643632,0.540344,0.482368,0.395210,0.974359,0.692639,0.216995,64

In [35]:
print(busca.best_params_)
print(busca.best_score_ * 100)

{'criterion': 'entropy', 'max_depth': 2, 'min_samples_leaf': 128, 'min_samples_split': 128, 'splitter': 'random'}
72.89817333910287

In [38]:
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25,
                                                         stratify = y)
scaler = StandardScaler()
scaler.fit(treino_x)
treino_x_escalado = scaler.transform(treino_x)
teste_x_escalado = scaler.transform(teste_x)

modelo = DecisionTreeClassifier()
modelo.fit(treino_x_escalado, treino_y)
previsoes = modelo.predict(teste_x_escalado)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurÃ¡cia foi %.2f%%" % acuracia)

A acurÃ¡cia foi 82.22%

In [39]:
dummy_stratified = DummyClassifier()
dummy_stratified.fit(treino_x, treino_y)
acuracia = dummy_stratified.score(teste_x, teste_y) * 100

print("A acurÃ¡cia do dummy stratified foi %.2f%%" % acuracia)

A acurÃ¡cia do dummy stratified foi 79.09%

In [40]:
SEED = 158020
np.random.seed(SEED)
modelo = DecisionTreeClassifier(max_depth=2)
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurÃ¡cia foi %.2f%%" % acuracia)

A acurÃ¡cia foi 83.53%

In [42]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import make_pipeline
pipe_knn = make_pipeline(StandardScaler(), KNeighborsClassifier(n_neighbors=3), verbose=True)
pipe_knn.fit(treino_x, treino_y)
pipe_knn.score(treino_x, treino_y)

[Pipeline] .... (step 1 of 2) Processing standardscaler, total=   0.0s
[Pipeline]  (step 2 of 2) Processing kneighborsclassifier, total=   0.0s

0.8967754620526937

In [43]:
pipe_tree = make_pipeline(StandardScaler(), DecisionTreeClassifier(max_depth=3), verbose=True)
pipe_tree.fit(treino_x, treino_y)
pipe_tree.score(treino_x, treino_y)

[Pipeline] .... (step 1 of 2) Processing standardscaler, total=   0.0s
[Pipeline]  (step 2 of 2) Processing decisiontreeclassifier, total=   0.0s

0.8545025560361778

In [44]:
from sklearn.naive_bayes import BernoulliNB
pipe_bnb = make_pipeline(StandardScaler(), BernoulliNB(), verbose=True)
pipe_bnb.fit(treino_x, treino_y)
pipe_bnb.score(treino_x, treino_y)

[Pipeline] .... (step 1 of 2) Processing standardscaler, total=   0.0s
[Pipeline] ....... (step 2 of 2) Processing bernoullinb, total=   0.0s

0.7881439244986237

In [45]:
from sklearn.svm import LinearSVC
pipe_svc = make_pipeline(StandardScaler(), LinearSVC(max_iter=10000), verbose=True)
pipe_svc.fit(treino_x, treino_y)
pipe_svc.score(treino_x, treino_y)

[Pipeline] .... (step 1 of 2) Processing standardscaler, total=   0.0s
[Pipeline] ......... (step 2 of 2) Processing linearsvc, total=   1.5s

0.8316456940621313

In [46]:
from sklearn.tree import DecisionTreeClassifier
pipe_dtree = make_pipeline(StandardScaler(), DecisionTreeClassifier(), verbose=True)
pipe_dtree.fit(treino_x, treino_y)
pipe_dtree.score(treino_x, treino_y)

[Pipeline] .... (step 1 of 2) Processing standardscaler, total=   0.0s
[Pipeline]  (step 2 of 2) Processing decisiontreeclassifier, total=   0.1s

0.9999508454581203

In [89]:
from sklearn.model_selection import KFold

parameters = {'max_depth': [3, 4, 5]}
kfold = KFold(n_splits=5, shuffle=True, random_state=42)
grid = GridSearchCV(pipe_dtree, param_grid=parameters, cv=kfold, n_jobs=-1)
grid.fit(treino_x, treino_y)
grid.best_params_

ValueError: Invalid parameter 'max_depth' for estimator Pipeline(steps=[('standardscaler', StandardScaler()),
                ('decisiontreeclassifier', DecisionTreeClassifier())],
         verbose=True). Valid parameters are: ['memory', 'steps', 'verbose'].

In [55]:
cat = dados[['tipo_imovel', 'motivo_emprestimo', 'grupo']]
dados_categoricos = pd.get_dummies(cat)
dados_categoricos

,tipo_imovel_alugado,tipo_imovel_financiado,tipo_imovel_outro,tipo_imovel_proprio,motivo_emprestimo_ensino,motivo_emprestimo_pessoal,motivo_emprestimo_quitar,motivo_emprestimo_reforma,motivo_emprestimo_risco,motivo_emprestimo_saude,grupo_A,grupo_B,grupo_C,grupo_D,grupo_E,grupo_F,grupo_G
0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
1,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0
3,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
4,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28878,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
28880,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
28881,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0
28882,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0
28883,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0

In [56]:
dados = dados_categoricos.merge(dados_numericos, right_index = True, left_index=True)
dados

,tipo_imovel_alugado,tipo_imovel_financiado,tipo_imovel_outro,tipo_imovel_proprio,motivo_emprestimo_ensino,motivo_emprestimo_pessoal,motivo_emprestimo_quitar,motivo_emprestimo_reforma,motivo_emprestimo_risco,motivo_emprestimo_saude,...,grupo_G,idade,salario,tempo_trabalhando,valor_emprestimo,juros,emp_sal,tempo_cliente,INADIMPLENCIA,RISCO_INADIMPLENCIA
0,1,0,0,0,1,0,0,0,0,0,...,0,21,60000,2,8000,11.26,0.13,3,0.0,0
1,0,1,0,0,1,0,0,0,0,0,...,0,40,70000,6,18000,7.90,0.26,14,0.0,0
2,0,1,0,0,0,0,0,0,0,1,...,0,29,115000,3,22000,15.23,0.19,7,1.0,0
3,1,0,0,0,0,0,0,0,0,1,...,0,26,84996,0,9000,11.26,0.11,2,0.0,0
4,0,0,0,1,1,0,0,0,0,0,...,0,23,24000,7,5000,7.49,0.21,2,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28878,0,1,0,0,0,0,0,1,0,0,...,0,24,69000,7,5200,17.19,0.08,2,0.0,0
28880,1,0,0,0,1,0,0,0,0,0,...,0,22,28800,6,8000,11.49,0.28,2,0.0,0
28881,0,1,0,0,0,0,1,0,0,0,...,0,27,39600,11,4800,6.76,0.12,9,0.0,0
28882,0,1,0,0,0,0,0,0,0,1,...,0,30,39996,8,10000,12.73,0.25,6,0.0,0
28883,1,0,0,0,1,0,0,0,0,0,...,0,26,54996,8,20000,12.18,0.36,4,0.0,1

In [57]:
x = dados.drop(['RISCO_INADIMPLENCIA'], axis = 1)
y = dados['RISCO_INADIMPLENCIA']

In [58]:
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, 
                                                        test_size = 0.25,
                                                        stratify = y)
scaler = StandardScaler()
scaler.fit(treino_x)
treino_x_escalado = scaler.transform(treino_x)
teste_x_escalado = scaler.transform(teste_x)

modelo = DecisionTreeClassifier()
modelo.fit(treino_x_escalado, treino_y)
previsoes = modelo.predict(teste_x_escalado)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurÃ¡cia foi %.2f%%" % acuracia)

A acurÃ¡cia foi 89.18%

In [59]:
modelo = KNeighborsClassifier(n_neighbors=3)
modelo.fit(treino_x_escalado, treino_y)
previsoes = modelo.predict(teste_x_escalado)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurÃ¡cia foi %.2f%%" % acuracia)

A acurÃ¡cia foi 89.07%

In [63]:
modelo = LinearSVC(max_iter=100000)
modelo.fit(treino_x_escalado, treino_y)
previsoes = modelo.predict(teste_x_escalado)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurÃ¡cia foi %.2f%%" % acuracia)

A acurÃ¡cia foi 86.80%

In [62]:
modelo =BernoulliNB()
modelo.fit(treino_x_escalado, treino_y)
previsoes = modelo.predict(teste_x_escalado)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurÃ¡cia foi %.2f%%" % acuracia)

A acurÃ¡cia foi 79.99%